.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product {
  margin-left: 1%;
  float: left;
  width: 15%;
}
.allProducts {
  width: 50%;
}
a {
  cursor: pointer;
}

.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #707070;
}
@font-face {
  font-family: "Anton";
  src: local("Anton Regular"),
    url("./fonts/Anton/Anton-Regular.ttf") format("truetype");
   
}

@font-face{
  font-family:"Cairo-Regular" ;
  src: local("Cairo Regular"),
  url("./fonts/Cairo-Regular/Cairo-Regular.ttf") format("truetype");


}


@font-face{
  font-family:"Cairo-ExtraLight" ;
  src: local("Cairo-ExtraLight"),
  url("./fonts/Cairo-ExtraLight/Cairo-ExtraLight.ttf") format("truetype");


}
@font-face{
  font-family:"Agan" ;
  src: local("Agan"),
  url("./fonts/Agan/Agane55sign.ttf") format("truetype");


}

.intro-title {
  font-family: "Anton";
  font-size: 40px;
  text-align: left;
}

.intro-body {
  font-size: 20px;
}
.black {
  font-family: "Anton";
  font-size: 25px;
}
.color {
  font-family: "Anton";
  font-size: 30px;
  color: red;
}

.intro-title-color {
  font-family: "Anton";
  font-size: 40px;
  color: red;
}

.branchesBar {
  color: white;
  background-color: black;
  height: 80px;
  /* width: 73.56em;
  margin-top: -1.4%; */
}
.leftArrow {
  width: 100%;
  height: 38px;
  background-color: red;
  /* margin-left: -100%; */
}

.rightArrow {
  width: 100%;
  height: 38px;
  background-color: red;
}
.detailedPhoto{
  width: 25em;
  height: 12.5em;
  max-width:100%;
  object-fit: cover;
  overflow:hidden;
}
.productImage{
  /* width: 12.9375em; */
  width: 100%;
  height: 100%;
  /* max-width:100%; */
  /* min-width: 100%; */
  object-fit: none;
  /* background-size: cover; */
}
.productImage,
.showMoreText {
  cursor: pointer;
}
.addBtn {
  cursor: pointer;
}
.pag {
  /* margin-left: -1.2%; */
  width: 100%;
  margin-top: 44%;
}
.rightArrowPag, .cardText {
  color: red;
}
.separatedBar {
  background-color: black;
  color: white;
  /* width: 73.56em;
  height: 180px; */
}
.pre {
  display: block;
  font-size: 110.5%;
  color: white;
}
.showMore {
  color: red;
  text-decoration: underline;
  text-align: right;
}
.swipe{
  overflow:auto;
  white-space:nowrap;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cardTitle{
  padding-top:60%;
  font-family: "Cairo-Regular";
  font-size: 20pt;
  color: rgba(255, 255, 255, 255);
}

.navStyle{
  border-bottom: 3px solid red;
  
}
.contactsIcon{
  color: white;
}
.contactsIconBG{
  border: solid 3px red;
  border-radius: 50%;
  width: 20%;
  height: 25%;
  background-color: red;

}

.seperationBar{
  height: 11em;
  background-image: url("./images/360img.png") ;
  background-repeat: no-repeat ;
  background-position:right;
  background-size: 15% 100% ;
}

.photo{
  width: 25em;
  height: 55em;
  
  max-width:100%;
  min-width: auto;
  object-fit: cover;

}
.productCard{
  position: relative;
  width: 100%;     
  height: 18.75em;
  overflow: hidden;
  /* object-fit: contain; */
}

.productCardImage{
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto; 
  top: 50%;      
  left: 50%;
  transform: translate( -50%, -50%);
  max-width:100%;
  max-height:100%;
  object-fit: contain ;
}

.text{
  font-family: 'ProximaNova-Light' ,'Archivo-Regular', 'Tahoma', 'AdobeInvisFont'
}

.sideBrand{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.img360{
  /* object-fit: cover; */
  width: 100em;
  height:100em;
}


.shoppingTitle{
  font-family:'Cairo-ExtraLight';
  font-size: 30pt;
}
.newExpText{
  font-family:'Agan'
}

/* .introSection{
  width: 636px;
}
.glasses{
  height: 48.5em;
}
*/
